<div class="page">
  <div class="d-flex back ml-5">
    <div class="ml-5">
      <svg style="font-size: 2.5em; cursor: pointer;" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
        class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
      </svg>
    </div>
    <div class="mt-2">
      <p class="hme" href=""> <a style="color: white;cursor: pointer; text-decoration: none;" href="">Home</a> <svg
          style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-caret-right-fill" viewBox="0 0 16 16">
          <path
            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
        </svg> <a style="color: #ff3434;cursor: pointer;" href="">Cart</a></p>
    </div>
  </div>
  <div class="container-fluid" *ngIf="cardDetals?.length >=1">
    <div class="row back-color d-flex justify-content-evenly">
      <div class="col-7 col-sm-7 col-lg-7 col-md-7 mt-3">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12 bg-dark-color mt-5" *ngFor="let data of cardDetals;let i=index">
          <div class="col-12 col-md-12 col-sm-12 col-lg-12  border d-flex">
            <div class="col-3 col-sm-2 col-md-2 col-lg-2"><img height="80px" src={{data.imageUrl}} alt=""></div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">{{data.content}}
              <p>{{data.prize}} (Inclusive of all taxes)</p>
            </div>
            <div class="quant-btn col-2 col-sm-2 col-md-2 col-lg-2">
              <span class="ml-3">Quantity</span>
              <div class="d-flex">
                <svg style="color: #B40000; font-size: 1.5em; margin-left: 0.5em;" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" class="bi bi-dash-square" viewBox="0 0 16 16" (click)="handleCount('minus',i)">
                  <path
                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
                </svg>

                <div class="text-white ml-2" style="border: 1px solid #B40000;">{{initialValue < 0? 0 : initialValue}}</div>
                <svg style="color: #B40000; font-size: 1.5em; margin-left: 0.5em;" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16" (click)="handleCount('plus',i)">
                  <path
                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                </svg>
              </div>
            </div>
            <div>
              <hr>
            </div>
            <div class="action-btn col-2 col-sm-2 col-md-2 col-lg-2">
              <div class="rht d-flex">
                <svg style="color: #B40000; font-size: 1.5em; margin-left: 0.5em;" (click)="editClick()" xmlns="http://www.w3.org/2000/svg"
                  width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                </svg>

                <span class="dlt" (click)="delete(i)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                    <path
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                  </svg>
                </span>
              </div>
            </div>
          </div>
          <div class="updbtn mt-5">
            <button type="submit" class="btn" (click)="updateCartClick()">Update Cart</button>
          </div>
        </div>
      </div>

      <div class="col-3 col-sm-3 col-lg-3 col-md-3 mt-4">
        <div class="div2 mt" *ngFor="let details of cardDetals">
          <div class="mb-4 mt-5 one">
            <div class="divone">
              <span class="divoneone">1 Items Price</span>
            </div>
            <div class="divp">
              <p class="divprice">{{details.prize}}</p>
            </div>
          </div>
          <div class="mb-4 one">
            <div class="divone">
              <span class="divoneone">Tax & other charges</span>
            </div>
            <div class="divp">
              <p class="divprice">18% GST included.</p>
            </div>
          </div>
          <div class="one">
            <div class="divone">
              <span class="divoneone" style="color:#FF3333;">Grand Total</span>
            </div>
            <div class="divp">
              <p class="divprice" style="color:#FF3333;">₹{{multiplyAmount(details.prize)}}/-</p>
            </div>
          </div>
          <button *ngIf="showProceedToCart" (click)="Checkout()"> <img class="mr-3 ml-2" src="https://voltedpc.in/assets/images/icons/cart-shopping.webp"
            alt="">Proceed to Checkout</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="cardDetals?.length ==0">
    <h1 class="text-white text-center">No product Avalible Here. </h1>
  </div>
