<div class="container-content pt-5">
  <div class="back-btn ml-5">
    <div class="back-arrow d-flex">
      <div class="mr-3 ml-5 text-white" (click)="goBack()">
        <svg style="font-size: 2.5em; cursor: pointer;" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
          class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
        </svg>
      </div>
      <p class="mr-2 mt-2 text-white" (click)="goBack()">Home</p>
      <div class="mr-3 mt-2 text-white" >
        <svg style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
        fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
        <path
          d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
        </svg>
      </div>
      <a class="mt-2" (click)="goBack()" style="color: #ff3434;cursor: pointer;" href="">Cart</a>
    </div>
  </div>
  <div class="container-fulid">
    <div class="row text-white">
      <div class="heading p-3 col-12 col-lg-12 col-md-12 col-sm-12 d-flex justify-content-evenly">
        <div>Build Your Custom PC in India</div>
        <div>Need help with the Configurator?</div>
      </div>
      <div class="pc-content col-12 col-lg-12 col-md-12 col-sm-12 d-flex justify-content-evenly">
        <div class="pc-img  col-5 col-lg-5 col-md-5 col-sm-5">
          <div class="img"><img src="../../assets/done-2.jpeg" height="430px" alt=""></div>
          <div class="back-color mt-3">
            <div class="price ">
              <p> <span>₹81,477 </span>(Inclusive of taxes and shipping)</p>
            </div>
            <div class="add-service ">
              <p>Includes Components, Add ons & Services</p>
            </div>
          </div>
          <button (click)="Checkout()"> <img class="mr-3 ml-2" src="https://voltedpc.in/assets/images/icons/cart-shopping.webp"
              alt="">Proceed to Checkout</button>
        </div>

        <div class="discription col-6 col-lg-6 col-md-6 col-sm-6">
          <div class="head-column back-color d-flex justify-content-evenly">
            <div (click)="handleClick('component')"><img src="../../assets/green-checkmark-line-icon.png" height="20px"
                alt=""> Components</div>
            <div (click)="handleClick('addOn')">Add ons</div>
            <div (click)="handleClick('service')">Services</div>
          </div>
          <div class="dis">
            The configurator shows only the compatible components based on your previous selections as you configure
            them, so we recommend working from the top to the bottom.
          </div>
          <div *ngIf="component">
            <div class="summary mt-4 md-4 d-flex " *ngFor="let data of buildPCSummry">
              <div class=" p-0 col-sm-1 col-md-1 col-lg-1 col-1"><img src={{data.icon}} alt=""></div>
              <div class=" p-0 col-sm-3 col-md-3 col-lg-3 col-3">{{data.name}}</div>
              <div class=" p-0 col-sm-6 col-md-6 col-lg-6 col-6">{{data.processor}}</div>
              <div class=" p-0 col-sm-2 col-md-2 col-lg-2 col-2">{{data.more}} {{data.arrowIcon}}</div>

            </div>
          </div>
          <div *ngIf="addOn">
            <div class="addOns mt-4 md-4 d-flex " *ngFor="let data of addOnProduct">
              <div class="pl-3 col-sm-11 col-md-11 col-lg-11 col-11">{{data.name}}</div>
              <div class=" p-0 col-sm-1 col-md-1 col-lg-1 col-1">{{data.icon}}</div>

            </div>
          </div>
          <div *ngIf="service">
            <div class="addOns mt-4 md-4 d-flex " *ngFor="let data of services">
              <div class="pl-3 col-sm-1 col-md-1 col-lg-1 col-1">{{data.icon}}</div>
              <div class="pl-3 col-sm-7 col-md-7 col-lg-7 col-7">{{data.warrenty}}</div>
              <div class="pl-3 col-sm-2 col-md-2 col-lg-2 col-2">{{data.icon2}}</div>
              <div class=" p-0 col-sm-2 col-md-2 col-lg-2 col-2">{{data.prize}}</div>

            </div>
          </div>
        </div>
      </div>
      <div class="help-in mt-5 col-12 col-lg-12 col-md-12 col-sm-12 d-flex justify-content-evenly">
        <div class="mt-5 mb-5 col-5 col-lg-5 col-md-5 col-sm-5">
          <h1 class="expert-call mt-5 ">Need help in choosing the
            Right Compatible Components?</h1>
            <a href="https://api.whatsapp.com/send?phone=+919999931521&text=Hi,I%20am%20on%20this%20page:%20https://voltedpc.in/build-pc%20Looking%20for%20assistance.">Talk to an Expert</a>
        </div>
        <div class="pc-img  col-5 col-lg-5 col-md-5 col-sm-5">
        </div>
      </div>
    </div>
  </div>
</div>
