<div style="overflow-x: hidden;">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../assets/home_banner_1.jpeg" alt="First slide">
        <h1 class="text-white">PCs Built By Enthusiast System Integrator</h1>
        <div class="content-img mr-5">
          <div class="dropdown">
            <button class="dropdown-toggle nav-text" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown"
              aria-expanded="false">
              Select a Configuration
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li (click)="handleClick()"><a>Gaming</a></li>
            </ul>
          </div>
          <button (click)="handleBuild()" class="text-red">Customize your PC</button>

        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/home_banner_2.jpeg" alt="Second slide">
        <h1 class="text-white">Custom Workstation and Gaming PCs to meet your needs.</h1>
        <div class="content-img mr-5">
          <div class="dropdown">
            <button class="dropdown-toggle nav-text" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown"
              aria-expanded="false">
              Select a Configuration
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li (click)="handleClick()"><a>Gaming</a></li>
            </ul>
          </div>
          <button class="text-red">Customize your PC</button>

        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/home_banner_3.jpeg" alt="Third slide">
        <h1 class="text-white">Have a Hassle free experience with Volted.</h1>
        <div class="content-img mr-5">
          <div class="dropdown">
            <button class="dropdown-toggle nav-text" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown"
              aria-expanded="false">
              Select a Configuration
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li (click)="handleClick()"><a>Gaming</a></li>
            </ul>
          </div>
          <button class="text-red">Customize your PC</button>

        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/home_banner_4.jpeg" alt="Four slide">
        <h1 class="text-white">Offering Nationwide Doorstep Delivery & support.</h1>
        <div class="content-img mr-5">
          <div class="dropdown">
            <button class="dropdown-toggle nav-text" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown"
              aria-expanded="false">
              Select a Configuration
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li (click)="handleClick()"><a>Gaming</a></li>
            </ul>
          </div>
          <button class="text-red">Customize your PC</button>

        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="bg-img">
    <div class="container-content">
      <div class="conatinet-fluid">
        <div class="row m-0">
          <div class="heading text-center col-12 p-4 mb-5">
            <h1 class="text-white fw-bold">Build You PC Online | Customize Your PC</h1>
          </div>
        </div>
        <div class="row m-0">
          <div class="first-section d-flex justify-content-evenly col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="gaming-img col-5 col-sm-5 col-md-5 col-lg-5">
              <img src="../../assets/GAMING_SERIES.jpeg" width='100%' alt="">
              <h1 class="text-white fw-bold text-center img-text">Gaming Series</h1>
            </div>
            <div class="gaming-img col-5 col-sm-5 col-md-5 col-lg-5">
              <img src="../../assets/BUILD_YOU_OWN_PC.jpeg" width="100%" height="100%" alt="">
              <h1 class="text-white fw-bold text-center img-text">Configure your own PC</h1>
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="second-section mt-5 d-flex justify-content-evenly col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="gaming-img col-3 col-sm-3 col-md-3 col-lg-3">
              <img src="../../assets/WORK_SATATION_SERIES.jpeg" width='100%' alt="">
              <h1 class="text-white fw-bold text-center img-text">Workstation Series</h1>
            </div>
            <div class="gaming-img col-3 col-sm-3 col-md-3 col-lg-3">
              <img src="../../assets/OFFICE_ HOME_SERIES.jpeg" width="100%" alt="">
              <h1 class="text-white fw-bold text-center img-text">Office/Home Series </h1>
            </div>
            <div class="gaming-img col-3 col-sm-3 col-md-3 col-lg-3 justify-content-between">
              <img src="../../assets/MODS.jpeg" width="100%" alt="">
              <h1 class="text-white fw-bold text-center img-tex">MODS</h1>
              <img src="../../assets/SERVICES.jpeg" width="100%" alt="">
              <h1 class="text-white fw-bold text-center img-text">Services</h1>
            </div>
          </div>
        </div>
        <div class="row our">
          <div class="heading text-center col-12 p-4 m-0">
            <h1 class="text-white fw-bold">Our Company Values</h1>
          </div>
          <div class="third-section d-flex justify-content-evenly col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-5 col-sm-5 col-md-5 col-lg-5 bg-bg">
              <h2>We provide world class PCs at affordable prices</h2>
              <ul class="ml-2 mb-2">
                <li class="text-white">On-site warranty options</li>
                <li class="text-white">Built by experts for enthusiasts</li>
                <li class="text-white">Valuable pre-sale consultation</li>
              </ul>
            </div>
            <div class="col-5 col-sm-5 col-md-5 col-lg-5">
              <img src="../../assets/PROVIDE_WORDCLASS_PCS.jpeg" width="80%" alt="">
            </div>
          </div>
        </div>
        <div class="row m-0">
          <div class="third-section d-flex justify-content-evenly col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-5 col-sm-5 col-md-5 col-lg-5">
              <img src="../../assets/CUSTOMIZABLITY.jpeg" width="80%" alt="">
            </div>
            <div class="col-5 col-sm-5 col-md-5 col-lg-5 text-end bg-bg">
              <h2>Customizability</h2>
              <h3 class=" mt-3 text-white">Buy what you require using our smart PC configurator</h3>
            </div>
          </div>
        </div>
        <div class="row m-0 cards">
          <div class="mr">
            <div class="heading text-center col-12 p-4 mb-3">
              <h1 class="text-white fw-bold">What do our clients say?</h1>
            </div>
            <div class="mt-5 card-section  col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="col-3 col-sm-3 col-md-3 col-lg-3 card-sec" *ngFor="let user of customerReview">
                <div class="profile mr-4 mt-3 text-center">
                  <img src={{user.logo}} class="round-img" height="100px" width="100px" alt="">
                  <p class="fw-bold mb-0">{{user.fName}}</p>
                  <p class="fw-bold mb-0">{{user.lName}}</p>
                  <p class="fw-bold mb-0"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                      <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                    </svg> {{user.city}}</p>
                </div>
                <div class="discription">
                  <div class="comma">''</div>
                  <div class="discrip">{{user.discription}}</div>
                  <div class="img-select">
                    <img src={{user.src1}} alt="" height="50px" width="50px">
                    <img src={{user.src2}} alt="" height="50px" width="50px">
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-5 card-section  col-12 col-sm-12 col-md-12 col-lg-12 ">
              <div class="col-3 col-sm-3 col-md-3 col-lg-3 card-sec" *ngFor="let user of review">
                <div class="profile mr-4 mt-3 text-center">
                  <img src={{user.logo}} class="round-img" height="100px" width="100px" alt="">
                  <p class="fw-bold mb-0">{{user.fName}}</p>
                  <p class="fw-bold mb-0">{{user.lName}}</p>
                  <p class="fw-bold mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                      <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                    </svg> {{user.city}}</p>
                </div>
                <div class="discription">
                  <div class="comma">''</div>
                  <div class="discrip">{{user.discription}}</div>
                  <div class="img-select">
                    <img src={{user.src1}} alt="" height="50px" width="50px">
                    <img src={{user.src2}} alt="" height="50px" width="50px">
                  </div>
                </div>
              </div>
            </div>
            <div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 conn">
              <div class="row">
                <div class="container">
                  <div class="let d-flex">
                    <h2 class="stay">Let us stay connected!</h2>
                  </div>
                  <div class="text-center d-flex soc">
                    <div class="ytu w-100">
                      <h3 class="yt">Youtube</h3>
                      <div class="d-flex align-items-start cardyt">
                        <figure><img alt="" class="lazy" height="100px" width="100px" src="https://voltedpc.in/assets/images/connect-youtube.webp"></figure>
                        <div class="volted">
                          <div class="w-100 d-flex align-items-center justify-content-between">
                            <p class="pvo">Volted PC</p>
                            <a href="https://www.youtube.com/@Volted_pc" target="_blank"
                              class="sub"><span>Subscribe</span></a>
                          </div>
                          <div class="w-100 d-flex align-items-start flex-wrap sonum">
                            <div>
                              <p class="psubs">413</p>
                              <p><span>Subscribers</span></p>
                            </div>
                            <div>
                              <p class="psubs">54</p>
                              <p><span>Videos</span></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ytu w-100">
                      <h3 class="yt">Instagram</h3>
                      <div class="d-flex align-items-start cardyt">
                        <figure><img alt="" class="lazy" height="100px" width="100px" src="https://voltedpc.in/assets/images/connected-instagram.webp"></figure>
                        <div class="volted">
                          <div class="w-100 d-flex align-items-center justify-content-between">
                            <p class="pvo">Volted PC</p>
                            <a href="https://www.instagram.com/voltedpc.in/" target="_blank"
                              class="sub"><span>Follow</span></a>
                          </div>
                          <div class="w-100 d-flex align-items-start flex-wrap  sonum">

                            <div>
                              <p class="psubs">233</p>
                              <p><span>Post</span></p>
                            </div>
                            <div>
                              <p class="psubs">2.3K</p>
                              <p><span>Followers</span></p>
                            </div>
                            <div>
                              <p class="psubs">22</p>
                              <p><span>Following</span></p>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ytu w-100">
                      <h3 class="yt">Our Blogs</h3>
                      <div class="d-flex align-items-start cardyt">
                        <figure><img alt="" class="lazy" height="100px" width="100px" src="https://voltedpc.in/assets/images/connected-blogs.webp"></figure>
                        <div class="volted">
                          <div class="w-100 d-flex align-items-center justify-content-between">
                            <p class="pvo">Volted PC
                              Blogs</p>
                            <a href="https://voltedpc.in/blog" target="_blank" class="sub"><span>Visit</span></a>
                          </div>
                          <div class="w-100 d-flex align-items-start flex-wrap sonum">
                            <p class="psubs">413 <span>Get our latest updates and news from our blog</span></p>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
